
root = true

[*]
charset = utf-8
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 2

[*.{json, js, css, html}]
indent_style = tab

[*.{yaml,yml}]
indent_style = space

[*.py]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false
insert_final_newline = false
