:root {
	--link-color: rgba(230,126,34,1);
	--name-color: rgba(255, 0, 0, 1);
}


body, html {
	padding: 0;
	margin: 0;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font-size: 76px/1;
	font-weight: bold;
	font-family: bangers, sans-serif;
	text-align: center;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	letter-spacing: 3px;

	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

#config-messages {
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	background-color: red;
	color: white;
	font-size: 4vh;
	font-weight: bold;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
}
#config-messages header {
	text-align: center;
	margin: 2vh 0 5vh 0;
}
#config-messages div.group {
	margin: 0 0 5vh 0;
}


.hidden {
	display: none;
}

#alert {
	position:absolute;
	top: 50%;
	left: 50%;
	width:50vw;
	height:50vh;
	margin-top: -30vh; /*set to a negative number 1/2 of your height*/
	margin-left: -37vw; /*set to a negative number 1/2 of your width*/
	padding: 10vh 20vh 8vh 20vh;
}

#link {
	text-align: center;
	font-size: 30px;
	color: var(--link-color, rgba(230,126,34,1));
}
#name {
	text-align: center;
	font-size: 30px;
	margin-bottom: 5px;
	border-radius: inherit;
	color: var(--name-color, rgba(255, 0, 0, 1));
}

img.shadow {
	box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
div.shadow {
	text-shadow: 0px 3px 5px #aaa;
}

#logo {
	text-align: center;
	margin-bottom: 5px;
	border-radius: inherit;
}
#logo img {
	width:200px;
	height: auto;
}

#logo img.rounded {
	border-radius: 10%;
}

#logo img.circle {
	border-radius: 50%;
}

#logo img.square {
	border-radius: 0%;
}